body {
    margin: 0; /* This is used to reset any browser-default margins */
    height: 100vh; /* This is needed to overcome a Chrome bug. */
    width: 100vw; /* As above. */
}

.page {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.page .content {
    vertical-align: middle;
    display: table-cell;
    height: 100vh;
    padding-left: 15px;
    padding-right: 30px; /*Let the right margin be larger because we expect a scroll bar*/
}

.row .directions-film {
    width: 100vw;
    padding: 0px;
}

.directions-film .page p:first-child,
.directions-film .page h2:first-child,
.directions-film .page h3:first-child {
    margin-top: 0px;
}