body {
    margin: 0; /* This is used to reset any browser-default margins */
    height: 100vh; /* This is needed to overcome a Chrome bug. */
    width: 100vw; /* As above. */
    overflow: hidden;
}

.slide {
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: whitesmoke;
    background-color: #307a18;
}

.slide .content {
    vertical-align: middle;
    display: table-cell;
    height: 100vh;
    padding-left: 15px;
    padding-right: 30px; /*Let the right margin be larger because we expect a scroll bar*/
}

.row .directions-film {
    width: 100vw;
    padding: 0px;
}

.directions-film .slide p:first-child,
.directions-film .slide h2:first-child,
.directions-film .slide h3:first-child {
    margin-top: 0px;
}

.slide .content {
    font-size: 3vmin;
}
.slide .content h1 {
    font-size: 7vmin;
}
.slide .content h2 {
    font-size: 6vmin;
}
.slide .content h3 {
    font-size: 5vmin;
}
.slide .content h4 {
    font-size: 4vmin;
}
.slide .content h5 {
    font-size: 3vmin;
}
.slide .content h6 {
    font-size: 2vmin;
}
.slide .content p {
    text-align: justify;
}

.directions-film .button-group {
    position: fixed;
    bottom: 3vmin;
    width: 100%;
}

.directions-film .button-row {
    text-align: center;
}

.directions-film .jump-button {
    margin: 0.5vmin;
    border-radius: 2vmin;
    width: 4vmin;
    height: 4vmin;
    line-height: 4vmin;
    text-align: center;
    color: black;
    background-color: yellow;
    display: inline-block;
    font-size: 2vmin;
}

/* Concept slide */
.directions-film .concept .scenarios {
    text-align: center;
}

.directions-film .concept .column {
    display: inline-block;
}

.directions-film .concept .player {
    display: inline-block;
    text-align: center;
    margin: 1vmin;
}

.directions-film .concept .vs {
    display: inline-block;
    text-align: center;
    margin: 1vmin 3vmin;
    font-style: italic;
}

/* Power and Points slide */
.directions-film .powerAndPoints table {
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.directions-film .powerAndPoints td:not(:first-child) {
    width: 6vmin;
}

.directions-film .powerAndPoints .redCard {
    color: #8a0101;
}

/* Goal slide */
.directions-film .goal .trickRow {
    text-align: center;
}

.directions-film .goal .cardCol {
    display: inline-block;
    text-align: center;
    margin: 0 1vmin;
}

.directions-film .goal img {
    height: 16vmin;
    width: 12vmin;
}

/* Suits slide */
.directions-film .suits .cardRow {
    text-align: center;
    display: block;
}

.directions-film .suits img {
    height: 16vmin;
    width: 12vmin;
}

.directions-film .suits .label {
    display: block;
    text-align: center;
    margin-bottom: 0;
    padding-top: 2vmin;
}

.directions-film .suits .overlapCards {
    width: 42vmin;
    display: inline-block;
}

.directions-film .suits .fullCards {
    display: inline-block;
}

.directions-film .suits .overlapCards img {
    margin-right: -8vmin;
}

.directions-film .suits .overlapCards img:last-child {
    margin-right: 0;
}

/* Directions Tricks and Winning Tricks slide */
.directions-film .tricks .row, 
.directions-film .winningTricks .row {
    text-align: center;
    display: block;
}

.directions-film .tricks .row>div,
.directions-film .winningTricks .row>div {
    display: inline-block;
    max-width: 16vmin;
    vertical-align: top;
}

.directions-film .tricks img,
.directions-film .winningTricks img {
    height: 16vmin;
    width: 12vmin;
}

/* Directions Partners slide */
.directions-film .partners .diagram {
    text-align: center;
    display: block;
}

.directions-film .partners img {
    height: 16vmin;
    width: 12vmin;
    display: inline-block;
}

/* Winning Hand */
.directions-film .winningHand .diagram {
    text-align: center;
    display: block;
}

.directions-film .winningHand .trick {
    vertical-align: top;
}

.directions-film .winningHand .player,
.directions-film .winningHand .trick,
.directions-film .winningHand .divider {
    display: inline-block;
}

.directions-film .winningHand .trick {
    text-align: left;
    margin: 0 1vmin;
}

.directions-film .winningHand .divider {
    width: 8vmin;
}

.directions-film .winningHand img {
    height: 8vmin;
    width: 6vmin;
}

/* Coins Per Player */
.directions-film .coinsPerPlayer table {
    width: 100%;
    border: #888 1px solid;
}

.directions-film .coinsPerPlayer tr:nth-child(2) {
    border-bottom: #888 1px solid;
}

.directions-film .coinsPerPlayer td {
    width: 16%;
    font-size: 2vmin;
}

.directions-film .coinsPerPlayer td {
    border: none;
    border-right: #888 1px solid;
}

.directions-film .coinsPerPlayer td:first-child {
    width: 20%;
    border-right-width: 3px;
}