body {
    margin: 0; /* This is used to reset any browser-default margins */
    height: 100vh; /* This is needed to overcome a Chrome bug. */
    width: 100vw; /* As above. */
    overflow: hidden;
}

.slide {
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: whitesmoke;
    background-color: #307a18;
}

.slide .content {
    vertical-align: middle;
    display: table-cell;
    height: 100vh;
    padding-left: 15px;
    padding-right: 30px; /*Let the right margin be larger because we expect a scroll bar*/
}

.row .directions-film {
    width: 100vw;
    padding: 0px;
}

.directions-film .slide p:first-child,
.directions-film .slide h2:first-child,
.directions-film .slide h3:first-child {
    margin-top: 0px;
}

.slide .content p {
    font-size: 3vmin;
}
.slide .content h1 {
    font-size: 7vmin;
}
.slide .content h2 {
    font-size: 6vmin;
}
.slide .content h3 {
    font-size: 5vmin;
}
.slide .content h4 {
    font-size: 4vmin;
}
.slide .content h5 {
    font-size: 3vmin;
}
.slide .content h6 {
    font-size: 2vmin;
}

.directions-film .button-group {
    position: fixed;
    bottom: 3vmin;
    width: 100%;
}

.directions-film .button-row {
    text-align: center;
}

.directions-film .jump-button {
    margin: 0.5vmin;
    border-radius: 2vmin;
    width: 4vmin;
    height: 4vmin;
    line-height: 4vmin;
    text-align: center;
    color: black;
    background-color: yellow;
    display: inline-block;
    font-size: 2vmin;
}