body {
    color: white;
    background-color: forestgreen;
    background-image: url(../../wwwroot/img/table-tile.jpg);
}

a {
    color: skyblue;
}

.page-contents {
    font-size: 2vmin;
}

.page-contents h1 {
    font-size: 6vmin;
}

.page-contents h2 {
    font-size: 5vmin;
}

.page-contents h3 {
    font-size: 4vmin;
}

.page-contents h4 {
    font-size: 3vmin;
}

.page-contents h5 {
    font-size: 2vmin;
}

.page-contents h6 {
    font-size: 1vmin;
}

.page-contents p {
    text-align: justify;
}

input,
button {
    color: black;
}

.modal-dialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 9vmin;
    width: 67vmin;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    color: black;
}

.modal-dialog.trick-cards {
    top: 32vmin;
    width: 49vmin;
}

.modal-dialog.trick-summary {
    top: 9vmin;
    width: 35.5vmin;
}

.modal-dialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-dialog > div {
    position: relative;
    margin: 2% 2%;
    padding: .5vmin 3vmin 1.5vmin 2.5vmin;
    border-radius: 1vmin;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.blkCard {
    color: black;
}

.redCard {
    color: red;
}

.modal-dialog tr.borderless td,
.modal-dialog td.borderless {
    border: none;
}

.modal-dialog td:first-child {
    padding-right: 1vmin;
}

.modal-dialog td:not(:first-child) {
    border-width: 0.1vmin;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 4vmin;
}

.pick-option button {
    margin: 0 0 1vmin 1vmin;
}

.go-it-alone-option button {
    margin: 1vmin 1vmin 0 0;
}

.play-pane .hand-data,
.play-pane .trick-winners {
    display: inline-block;
    width: 50%;
    height: 15vmin;
    vertical-align: top;
}

.play-pane .trick-winners .view-button {
    float: right;
    border-radius: .5vmin;
}

.card {
    width: 9vmin;
    height: 12vmin;
}

.game-details,
.trick-pane {
    width: 60vmin; /* ( card-image width + margin ) x 6 */

}

.playerCoins {
    display: inline-block;
    padding: 0vmin 2vmin;
    width: 12vmin;
    text-align: center;
    height: 5vmin;
    overflow: hidden;
    white-space: nowrap;
}

.buriedCards div {
    display: inline-block;
    margin-right: 1vmin;
}

.trick-pane .trick-cards {
    height: 16vmin;
}

.trick-pane .trick-cards p {
    margin-left: 0.5vmin;
    margin-right: 0.5vmin;
    overflow: hidden;
    width: 9vmin;
    height: 2.5vmin;
}

.trick-pane .trick-cards img,
.trick-pane .player-cards img,
.pick-pane .player-cards img {
    margin-right: 0.5vmin;
    margin-left: 0.5vmin;
}

.trick-pane .text-row {
    height: 3vmin;
}

.trick-summary {
    width: 44vmin;
}

.trick-summary img {
    width: 6vmin;
    height: 8vmin;
}

.trick-summary p:first-child {
    width: 6vmin;
    text-align: left;
}

.trick-summary .trick-number,
.trick-summary .move,
.trick-summary .move-player,
.trick-summary .move-card {
    display: inline-block;
    overflow-x: hidden;
}

.trick-summary .trick-number {
    width: 3vmin;
    margin-right: .6vmin;
    text-align: left;
}

.trick-summary .move-player {
    width: 4vmin;
    margin-right: .3vmin;
    text-align: right;
}

.trick-summary .move-card {
    width: 3vmin;
    margin-right: .6vmin;
    text-align: left;
}

.hand-summary {
    width: 33vmin;
}

.hand-summary img {
    width: 6vmin;
    height: 8vmin;
}

.hand-summary p {
    width: 4vmin;
    display: inline-block;
    text-align: right;
}

.hand-summary p:first-child {
    width: 6vmin;
    text-align: left;
}