.title-container {
    width: 16vmin;
    display: inline-block;
}

.button-container {
    display: inline-block;
}

.button-container input {
    margin-left: 1vmin;
    margin-right: .2vmin;
}

.button-container input[disabled] {
    opacity: .50;
}

label {
    margin-right: 0.5vmin;
}

input[disabled] {
    color: gray;
}

.invalid {
    color: red;
}

.directions-parent {
    margin-top: 2vmin;
}

.directions-parent a {
    font-size: large;
}

.page-contents {
    text-align: center;
}

.centered-page-contents {
    display: inline-block;
    text-align: left;
}

.total-players {
    text-align: right;
}

input[value="Play"] {
    margin: 0 0 1vmin 1vmin;
}

.source-code {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6vmin;
    text-align: center;
}

textarea {
    background: transparent;
    border: none;
    width: 100%;
    font-weight: bold;
}