.title-container {
    width: 16vmin;
    display: inline-block;
}

.button-container {
    display: inline-block;
}

.button-container input {
    margin-left: 1vmin;
    margin-right: .2vmin;
}

label {
    margin-right: 0.5vmin;
}

input[disabled] {
    color: gray;
}

.invalid {
    color: red;
}

.directions-parent {
    margin-top: 2vmin;
}

.directions-parent a {
    font-size: large;
}

.page-contents {
    text-align: center;
}

.centered-page-contents {
    display: inline-block;
    text-align: left;
}

.total-players {
    text-align: right;
}

input[value="Play"] {
    margin: 0 0 1vmin 1vmin;
}