@{
    ViewData["Title"] = "Setup Game";
}
<div id="content"></div>
<script src="@Url.Content("~/js/PlayerCountRadio.jsx")"></script>
<script src="@Url.Content("~/js/GameSetup.jsx")"></script>
<script src="@Url.Content("~/js/Render.jsx")"></script>