body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.invalidcount {
    color: red;
}

.card-stack {
    width: 200px;
    display: inline-block;
}

.card-empty {
    width: 71px;
    height: 96px;
    display: inline-block;
}

.card-back-full {
    width: 71px;
    height: 96px;
    background-image: url('../Images/b1fv.png');
    border: 1px solid silver;
    display: inline-block;
}

.card-back-part {
    width: 12px;
    height: 96px;
    background-image: url('../Images/b1pr.png');
    border: 1px solid silver;
    display: inline-block;
}