@model Sheepshead.Models.TurnState
@using Sheepshead.Models.Players
@using Sheepshead.Models
@Scripts.Render("~/Libraries/jquery-2.1.1.min.js")
@Scripts.Render("~/Scripts/bury.js")
@{
    Layout = null;
}

@{ Html.RenderPartial("ReportPick", Model.Deck); }

<p>Pick cards to Bury</p>
@foreach (var card in Model.HumanPlayer.Cards)
{
    var index = Model.HumanPlayer.Cards.IndexOf(card);
    <input type="checkbox" class="js-card-cb" data-index="@index.ToString()" />
    <img src="@("\\Images\\" + CardRepository.GetPictureFilename(card) + ".png")" />
}
<form method="post">
    <input type="hidden" id="id" name="id" />
    <input type="hidden" id="droppedCardIndicies" name="buriedCardIndicies" />
    <input id="bury-btn" type="button" value="Bury" />
</form>
