@using Sheepshead.Controllers
@model GameController.GameModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (@Html.BeginForm())
    {
        <div>
            Game Name: 
            @Html.TextBoxFor(model => model.Name)
        </div>      
        <div>
            Number of Simple Players:
            @Html.TextBoxFor(model => model.SimpleCount)
        </div>
        <div>
            Number of Intermediate Players:
            @Html.TextBoxFor(model => model.IntermediateCount)
        </div>
        
        <input type="submit" value="Create Game" />
    }
</body>
</html>
