@model Sheepshead.Models.TurnState
@using Sheepshead.Models.Players
@using Sheepshead.Models
@Scripts.Render("~/Libraries/jquery-2.1.1.min.js")
@Scripts.Render("~/Scripts/pick.js")
@{
    Layout = null;
}

@{ Html.RenderPartial("ReportPick", Model.Deck); }

@if (Model.Deck.Hand == null || Model.Deck.Hand.Picker == null) 
{
    <p>Previous players did not pick.</p>
}
else {
    <p>Another player has picked.</p>
}

<p>These are your cards</p>
@foreach (var card in (Model.HumanPlayer).Cards)
{
    <img src="@("\\Images\\" + CardRepository.GetPictureFilename(card) + ".png")" />
}

@if (Model.Deck.Hand == null || Model.Deck.Hand.Picker == null) 
{
    <p>Will you pick?</p>
    <form method="post">
        <input type="hidden" id="id" name="id" value="1" />
        <input type="hidden" id="willPick" name="willPick" />
        <input id="yes-btn" type="button" value="Yes" />
        <input id="no-btn" type="button" value="No" />
    </form>
} 
else 
{
    <form method="post">
        <input type="submit" value="Continue" />
    </form>
}
