@model Sheepshead.Model.TurnState
@using Sheepshead.Model.Players
@using Sheepshead.Model
@Scripts.Render("~/Libraries/jquery-2.1.1.min.js")
@Scripts.Render("~/Scripts/pick.js")
@{
    Layout = null;
}

@{ Html.RenderPartial("ReportPick", Model.Hand); }

@if (!Model.Hand.PickPhaseComplete || Model.Hand.Picker == null)
{
    <p>Previous players did not pick.</p>
}
else
{
    <p>Another player has picked.</p>
}

<p>These are your cards</p>
@foreach (var card in Model.Hand.Players.OfType<IHumanPlayer>().First().Cards)
{
    <img src="@("\\Images\\" + CardUtil.GetPictureFilename(card) + ".png")" />
}

@if (!Model.Hand.PickPhaseComplete || Model.Hand.Picker == null)
{
    <p>Will you pick?</p>
    <form method="post">
        <input type="hidden" id="id" name="id" value="@Model.GameId.ToString()" />
        <input type="hidden" id="willPick" name="willPick" />
        <input id="yes-btn" type="button" value="Yes" />
        <input id="no-btn" type="button" value="No" />
    </form>
}
else
{
    <form method="post">
        <input type="submit" value="Continue" />
    </form>
}
