@model Sheepshead.Models.Trick
@using Sheepshead.Models.Players
@using Sheepshead.Models
@{
    ViewBag.Title = "Trick Done";
}

<div class="display-label">
        Trick Winner
</div>
<div class="display-field">
    Player @(Model.Hand.Deck.Game.Players.IndexOf(Model.Winner().Player) + 1)
</div>

<div class="display-label">
        Trick Winner Points
</div>
<div class="display-field">
    @(Model.Winner().Points)
</div>

<p>Cards played in Trick</p>
<table>
    <tr>
    @foreach (var cardPlayed in Model.CardsPlayed)
    {
        var playerIndex = Model.Hand.Deck.Game.Players.IndexOf(cardPlayed.Key);
        <td>
            <div>Player @(playerIndex + 1)</div>
            <img src="@("\\Images\\" + CardUtil.GetPictureFilename(cardPlayed.Value) + ".png")" />
        </td>
    }
    </tr>
</table>