@model Sheepshead.Models.Deck
@using Sheepshead.Models

@{
    ViewBag.Title = "Picker Found";
}

<fieldset>
    <div class="display-label">
        Starting Player
    </div>  
    <div class="display-field">
        Player @(Model.Game.Players.IndexOf(Model.StartingPlayer) + 1)
    </div>

    <div class="display-label">
        Human Player
    </div>
    <div class="display-field">
        Player @(Model.Game.Players.IndexOf(Model.Game.Players.First(p => p is IHumanPlayer)) + 1)
    </div>

    @if (Model.Hand != null && Model.Hand.Picker != null)
    {
        <div class="display-label">
            Picker
        </div>
        <div class="display-field">
            Player @(Model.Game.Players.IndexOf(Model.Hand.Picker) + 1)
        </div>
    }

    @if (Model.Hand != null && Model.Hand.Partner != null)
    {
        <div class="display-label">
            Partner
        </div>
        <div class="display-field">
            Player @(Model.Game.Players.IndexOf(Model.Hand.Partner) + 1)
        </div>
    }
</fieldset>